* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- HEADINGS ----- */


header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://drive.google.com/uc?export=view&id=1ugyHEuYDYETn0jjFDa5BmZtR_bHcQhbV);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://drive.google.com/uc?export=view&id=1ugyHEuYDYETn0jjFDa5BmZtR_bHcQhbV);
    background-size: cover;
    background-position: center;
    height:100vh;
    background-attachment: fixed;
}
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#191817 !important ;
    box-shadow: 0 1px 1px #9a9797;
    z-index: 9999;
}


h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
   
    margin-bottom:10px;
    color: #fff;
    font-size: 400%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 150%;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 15px auto;
   
    
}

.home-page{
    margin: auto;
    
}
.home-text
{
    margin: 150px auto;
}

.headings
{
    text-align: center;
   
}
section{
    padding: 60px 0px;
}
.custom-navbar
{
    background-color: #191817 !important;
    padding: 0px 10px;
    
}
.custom-navbar a
{
    color:  #f7a862 ;
    font-size: 90%;
    margin: 0px 3px;
   
}

a:hover,
a:active {
    
    color: #fff8f8;
}

.btn1
{
    background-color:  #e67e22 !important;
    border: none;
    align-content: center;
}
.btn1:hover,
.btn1:active,
input[type=submit]:hover,
input[type=submit]:active {
   color:  #4d1b00 ;
}
.how-it-works
{
    background-color: #ececec;
}
.picture{
    margin: 30px 30px;
    
}
.text{
    margin: 30px 40px;
}

.sign-up
{
    padding: 40px;
}
 
#location
{
    padding: 50px;
}

.sign-in
{
    padding: 10px 100px ;
    background-color: #ececec;
    padding: 40px;
   
}
.cards
{
    margin: 50px auto;
    width: 60%;
    
}

#contact-us
{
    padding: 40px;
    background-color: #ececec;
}
#footer
{
    background-color: #383737;

    color: white;
}
#footer p
{
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 80%;
    
}
#location
{
    padding: 40px;
}
.input-group{
    padding: 15px 0px;
}


/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }

    
    
    h1 { font-size: 300%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    .app-screen
    {
        width: 80%;
        margin: auto;
    }
    
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  
    
    section { padding: 25px 0; }
    .contact-form {width: 100%; }
}
